// * {
//   @include vtest.reset;
// }

$content-width: 550px;
@use "_Partials/variables";
@use "_Partials/mixin";
// @forward "_Partials/mixin";
// @forward "_Partials/at-root" as rootTest;
@use "_Partials/at-root" as rootTest;
@use "_Partials/variables" as vtest;
// @import url(/sass/_Partials/_variables.scss);
// @import "mixin";
// commentaries
// @font-face {
// font-family: fon;
// src: url(/sass/Roboto-Thin.ttf);
// src: url(/fonts/Roboto/Roboto-Bold.ttf);
// src: url(/fonts/quicksand-WOFF2-latin/quicksand-v24-latin-600.woff2);
// src: url(/fonts/Roboto/Roboto-Bold.ttf);
// src: url(/fonts/Roboto/Roboto-Bold.ttf);
// src: url(/fonts/Crimson_Text/CrimsonText-Italic.ttf);
// font-weight: 800 !important;
// font-display: swap;
// }
body {
  color: #d2eff5;
  font-family: "fon";
  // font-family: "crimson";
  // font-family: "Roboto-Random";
  // font-size: xx-large;
  background:
    url(/img/apple-g0c470a762_640.png) /*no-repeat*/ repeat-x center,
    url(/img/matrix-g2.jpeg) no-repeat;
  background:
    linear-gradient(rgba(201, 172, 247, 0.957), rgba(228, 248, 162, 0.695)),
    url(/resImg/abstract-1238247_1920\ 1.png) no-repeat;
  background-size: 50%, cover;
  background-attachment: fixed, scroll;
  background:
    url(/img/beer-svgvector.svg) no-repeat right 1% bottom 7%,
    /* url(/img/anatomical-1.jpeg)*/ repeat-x center,
    url(/img/kevin-grieve-Yn4D7BAjyCU-unsplash.jpeg) no-repeat center;
  // background-color: transparent; allways
  // background-size: 10%, contain;
  // background-size: 100%, cover;
  // background-size: 100%, contain;
  position: relative;
  width: $content-width;
}
body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background: url(/img/anatomical-1.jpeg) repeat-x center / 40%;
  opacity: 0.5;
  z-index: -1; /* Ensure it's behind the content */
}
.identical {
  font-size: 50px;
}
[type] {
  color: rgb(123, 0, 255);
  font-style: italic;
  font-size: 22px;
}
// .main{
// width: initial;
// width: inherit;
// width: unset;
// height: 567px;
// background: #f8f1f1c5;
// opacity: .3;
// }
// .main.center{
// width: 323px;
// height: 234px;
// background: #ef0808c4;
// opacity: .4;
// }

.container {
  width: min(320px, 10%, 330px);
  width: max(888px, 10%, 1200px);
  width: clamp(22em, 50vw, 555em);
  margin: min(10vh, 3em) 2em 5em min(10vw, 20em);
  // max-width: 888px;
  // width: 80%;
  background-color: rgb(240 119 119 / 35%) /*transparent*/;
  border: 20px rgb(30, 255, 0) dotted;
  display: inline-block;
}
%-name-extend {
  background: #ef68e3;
  opacity: 0.3;
  border: 1px dotted rgb(142, 58, 58);
  text-align: left;
  border-radius: 22px;
  height: 400px;
}
@mixin reset-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1em dashed rgba(162, 40, 210, 0.842);
}
button {
  background: rgb(73 222 37 / 74%);
  width: 111px;
  height: 70px;
  border-radius: 22px; //*if(22px, null);/
  border-width: 10px;
  border-style: ridge;
  transition: {
    property: font-size;
    duration: 5s;
    delay: 3s;
  }
  margin: {
    bottom: 22px;
    top: 11px;
    left: 12px;
    right: inherit;
  }
}
.btn:hover {
  cursor: pointer;
  color: #8d9b8d;
  font-size: 33px;
  border: rgb(43, 0, 255) 11px solid;
  &:disabled {
    color: #49b6cc;
  }
}
.tab {
  width: 222px;
  height: 222px; //!important;
  &/*.mixin-template*/ {
    border: 3px dotted red; //!important
    width: 112px; //!important
    height: 112px; //!important;
    @include mixin.nameOut();
  }
}
.tabb {
  width: 33px;
  height: 21px;
  background: #e8c1c1;
  opacity: 0.3;
  align-items: center;
  display: inline-flex;
  vertical-align: auto;
  border: 2px dotted red;
  .tabbb {
    // @extend %mixtab;
    background: #ebe3e3;
    opacity: 0.35;
    border: 2px solid red;
    // @include mixin.nameOut();
  }
}
.rating {
  // @extend %name-extend !optional;
  @extend %-name-extend;
  // @extend %private;
  // @extend %-private !optional;
  width: 111px;
  width: vtest.$content-width;
  // color: vtest.$-private-color !optional;
  font-size: vtest.$modules;
}
h2,
h3 {
  // @include reset-list!!!!???????;
  font-size: clamp(2rem, 3vw, 5em);
  // @include reset-list;
}
// $color: rgb(0, 255, 55) !global;DEPRECATED
$color: rgb(0, 255, 55);
h1 {
  font-style: italic;
  color: $color;
  // @extend %name-extend;
  ////// @include $font-family("$folder-path-project");
  text: {
    align: center;
    transform: uppercase;
  }
}
.link {
  font-size: 44px;
  &:hover {
    $color: red;
    color: $color;
  }
}

.center {
  width: 333px;
  height: 555px;
  // display: flex;
  // margin: 10px 0 20px 60px;
  text-align: center;
}
.main {
  background: $color;
  border: 5px dotted;
  width: 10vw;
  // @extend %extend;
  .nav {
    display: flex;
    ul {
      text-align: left;
      & > li {
        margin: 40px 0;
      }
    }
  }
}
%extend {
  background: #171617;
  opacity: 0.91;
}

// gpt@extend
// .tooltip {
//   background-color: #f39c12;
//   color: #fff;
//   padding: 8px;
// }

// .tooltip--top {
//   @extend .tooltip;
//   position: relative;
//   &:before {
//     content: '';
//     position: absolute;
//     top: -5px;
//     left: 50%;
//     border: 5px solid transparent;
//     border-bottom-color: #f39c12;
//   }
// }

// :root {
//   --mixin-css:  44px;
// }

// .list {
//   font-size: var(--mixin-css);
//   /*/// @apply --mixin-css; */
